body {
  background: hsla(237, 96%, 11%, 1);

  background: linear-gradient(
    360deg,
    hsla(237, 96%, 11%, 1) 0%,
    hsla(211, 100%, 28%, 1) 100%
  );

  background: -moz-linear-gradient(
    360deg,
    hsla(237, 96%, 11%, 1) 0%,
    hsla(211, 100%, 28%, 1) 100%
  );

  background: -webkit-linear-gradient(
    360deg,
    hsla(237, 96%, 11%, 1) 0%,
    hsla(211, 100%, 28%, 1) 100%
  );

  
  color: white !important;
}
